body
{
  padding: 50px;
	background: gray;
	margin: 0 30px 100px 30px;
	font: 14px/18px 'Lucida Grande', 'Segoe UI', sans-serif;
}
h1
{
  color: white;
  font-size: 50px;
  margin-bottom: 50px;
}
canvas
{
	background: white;
  margin-bottom: 50px;
}
